<h2> <%= gist.escape("title") %> </h2>
<button class="favorite" data-id="<%= gist.escape("id") %>">Favorite me!</button>
<button class="unfavorite" data-id="<%= gist.escape("id") %>">Unfavorite!</button>